body, h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Thin.tff);
}
		
html {
	scroll-behavior: smooth;
}		

.main {
	min-height: 300%;
	background-attachment: fixed;
	background-size: cover;
}
	
.container-top {
	font-family: roboto;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	color: white;
}
	
.bigass-container {
	height: 100%;
}

.container-dark {
	position: absolute;
	left: 0;
	top: 100%;
	width: 30%;
	min-height: 100%;
	color: white;
	padding: 100px 20px;
	background-color: rgba(0,0,0,0.7);
}
	
.container-light {
	position: absolute;
	right:0;
	top: 100%;
	width: 70%;
	min-height: 100%;
	padding: 40px 70px;
	color:black;
	background-color: rgba(150,150,150,0.7);
}

.container-dark2 {
	font-family: Raleway;
	position: absolute;
	left: 0;
	top: 200%;
	width: 55%;
	min-height: 100%;
	color: white;
	padding: 100px 20px;
	background-color: rgba(0,0,0,0.7);
}

.container-light2 {
	position: absolute;
	right:0;
	top: 200%;
	height: 100%;
	width: 45%;
	padding: 100px 70px;
	color:black;
	background-color: rgba(150,150,150,0.7);
}

.custom-navbar {
	position: absolute;
	right: 0;
	height: 100%;
	width: 0;
	top: 0;
	background-color: rgba(255,255,255,0.4);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.custom-navbar a {
	font-family: Raleway;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(0,0,0);
	display: block;
	transition: 0.3s;
}

.custom-navbar a:hover {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.navbar .closebtn {
	position: absolute;
	top: 0;
	font-size: 36px;
	margin-right: 50px;
}

.socmed {
  position: fixed;
  background-color: rgba(200,200,200,1);
  bottom: 0;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}

.socmed a {
  padding: 14px 20px;
}

.socmed a:hover {
  background-color: rgb(255,255,255);
}

.wiggle {
	right: 5%; 
	position:absolute; 
	top:50%; 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
	max-height: 50px;
	animation: shake 3s;
	animation-iteration-count: infinite;
}

.wiggle2 {
	animation: shake2 3s;
	animation-iteration-count: infinite;
}

.wiggle:hover {
	cursor: pointer;
}

#button {
	transition: opacity 0.5s;
}


@keyframes shake {
	20% { transform: translate(-1px, 1px); }
	30% { transform: translate(1px, -1px); }
	40% { transform: translate(-1px, 1px); }
	50% { transform: translate(2px, 2px); }
}

@keyframes shake2 {
	20% { transform: translate(-2px, 2px); }
	30% { transform: translate(3px, -3px); }
	40% { transform: translate(-6px, 5px); }
	50% { transform: translate(2px, 2px); }
}